body {
    background: #fefefe;
}

.mainHeader {
    color: #751da8
    
}

.sectionHeader, .diaryHeader{
    color: #0e7ab1;
 
}

.paragraph {
    color: #224b12;
    
}

h3 {
    color: #0e0ba8;
}

.links {color: #52b788}
