body {
    background: #cc8ddb;
}

.mainHeader {
    color: rgb(250, 80, 50);
    font-size: 42px;
}

.sectionHeader {
    color: #cec331;
    font-size: 35px
}

.article {
    color: #224b12;
    font-size: 24px;
}

h3 {
    color: #0e0ba8;
}
